__pycache__/
*.pyc
*.pkl
*.json
*.pt
*.log
!tuning/bayesian_tuning_results.txt 
*.db
*.whl
pc_transformer_venv/

venv/
*.egg-info/
checkpoints/
data_preparation/data/opwb/

.DS_Store
.vscode/
.antigravity/
.lightning/
.md
ziz/
